<div class="submenu-container" layout='row'>
    <md-button class="btn-group-capsule btn-left">
        Overview
    </md-button>

    <md-button class="btn-group-capsule btn-middle" ng-link="residents.logbookNotesRef" >
        Notes
    </md-button>

    <md-button class="btn-group-capsule btn-middle">
        Vitals
    </md-button>

    <md-button class="btn-group-capsule btn-middle">
        Food/Water
    </md-button>

    <md-button class="btn-group-capsule btn-right">
        Toilet
    </md-button>
</div>